In [1]:
import opendatasets as od

In [2]:
od.download("https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction")

Skipping, found downloaded files in "./heart-failure-prediction" (use force=True to force download)

In [3]:
import pandas as pd 
import numpy as np

In [237]:
data = pd.read_csv("heart-failure-prediction/heart.csv")

In [238]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [239]:
data.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [240]:
data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [241]:
X = data
x = convert(X)

[1, 2, 6, 8, 10] [0, 3, 4, 5, 7, 9, 11]
[1, 8] [2, 6, 10]

In [242]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


def convert(x):
        num_indices = []
        cate_indices = []
        for i in range(len(x.columns)):
            if(x.iloc[:,i].dtype == 'O'):
               cate_indices.append(i)

            elif(x.iloc[:,i].dtype == "int64" or x.iloc[:,i].dtype == "float64"):
                num_indices.append(i)
        print(cate_indices  , num_indices)

        label_indices = []
        onehot_indices = []

        for i in cate_indices:
            if(len(x.iloc[:,i].value_counts()) == 2):
                label_indices.append(i)

            else:
                onehot_indices.append(i)
        print(label_indices , onehot_indices)
        label  = LabelEncoder()


        for i in label_indices:
            x.iloc[:,i] = label.fit_transform(x.iloc[:,i])         

        ct = ColumnTransformer(transformers=[('encoder' , OneHotEncoder() , onehot_indices)] , remainder= 'passthrough')

        x = ct.fit_transform(x)



        from sklearn.preprocessing import StandardScaler

        sc = StandardScaler()
        x = sc.fit_transform(x)
        
        return x

In [243]:

y = data['HeartDisease'].values
y.shape
type(X)

pandas.core.frame.DataFrame

In [244]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB  

lr_score = cross_val_score(LogisticRegression() , x , y , cv=30 )
svm_score = cross_val_score(SVC() , x , y , cv=30)
dt_score = cross_val_score(DecisionTreeClassifier() , x, y , cv=30)
rf_score = cross_val_score(RandomForestClassifier() , x , y , cv=30)
knn_score = cross_val_score(KNeighborsClassifier() , x , y , cv=30)
nb_score = cross_val_score(GaussianNB() , x , y , cv=30)

In [245]:
print(np.mean(lr_score))
print(np.mean(svm_score))

print(np.mean(dt_score))
print(np.mean(rf_score))
# print(np.mean(knn_score))
# print(np.mean(cross_val_score))
print(np.mean(knn_score))
print(np.mean(nb_score))

1.0
1.0
1.0
1.0
0.9312544802867383
1.0

In [246]:
# from sklearn.decomposition import PCA

# pca = PCA()

# x =pca.fit_transform(x)

In [247]:
from sklearn.model_selection import train_test_split
x_train  , x_test , y_train , y_test = train_test_split(x , y, test_size=0.2 ,random_state=0)

In [248]:
rf = RandomForestClassifier()
rf.fit(x_train , y_train )

RandomForestClassifier()

In [249]:
y_pred = rf.predict(x_test)

In [250]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
acc = accuracy_score(y_test , y_pred)
csocre = classification_report(y_test, y_pred) 
print(acc)
print(csocre)

1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        77
           1       1.00      1.00      1.00       107

    accuracy                           1.00       184
   macro avg       1.00      1.00      1.00       184
weighted avg       1.00      1.00      1.00       184

In [251]:
(data.iloc[1])

Age                   49
Sex                    0
ChestPainType        NAP
RestingBP            160
Cholesterol          180
FastingBS              0
RestingECG        Normal
MaxHR                156
ExerciseAngina         0
Oldpeak              1.0
ST_Slope            Flat
HeartDisease           1
Name: 1, dtype: object

In [252]:
def getData(obj):
    
    
    prediction = rf.predict(obj)
    
    printn(prediction)

In [253]:
import ast

In [254]:
dictionary = {
"Age"   :        [49],
"Sex"      :           ["F"],
"ChestPainType" :      ["NAP"],
"RestingBP"      :     [160],
"Cholesterol"     :    [180],
"FastingBS"       :      [0],
"RestingECG"       :["Normal"],
"MaxHR"             : [156],
"ExerciseAngina"     :   ["N"],
"Odpeak"          :  [1.0],
"T_Slope"          :["Flat"],

    
}

In [255]:
df= pd.DataFrame.from_dict(dictionary)

In [256]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Odpeak,T_Slope
0,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat

In [257]:
df2 = convert(df)

[1, 2, 6, 8, 10] [0, 3, 4, 5, 7, 9]
[] [1, 2, 6, 8, 10]

In [258]:
df2

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [260]:
x_test[1]

array([ 0.9223917 , -0.48188667, -0.53283777, -0.22967867,  1.97052752,
       -1.22808661, -0.49044933, -0.27144836,  0.99782372, -0.86905588,
        1.32475593,  0.51595242, -0.66993455,  0.94398225, -0.55134134,
        0.55766618, -0.8235563 , -0.45719402, -1.11311472])